:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --CLOUD: #F4F4FD;
    --WHITE: #FFFFFF;
    --SLATE: #434455;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE);
   
}


.logo {
    text-decoration: none;
    color: var(--NAVY-BLUE);
    font-size: 18px;
    font-family: Raleway;
    line-height: 1.16667;
}

.logo span{
    color: var(--IRIS);
}


ul {
    text-align: left;
    padding: 0;
    margin-left: 0;
}

li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}




.section-1 {
    background-color: var(--NAVY-BLUE);
    text-transform: uppercase;
}

h1 {
    text-align: center;
    color: var(--WHITE);
    font-family: Roboto;
    line-height: 1.07143;

}

button {
    background-color: var(--IRIS);
    color: var(--WHITE);
    font-size: 16px;
    line-height: 1.5;

}

.term {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    line-height: 1.2;
}



.description {
    color: var(--SLATE);
    font-size: 16px;
    line-height: 1.6;
}

li {
    list-style: none;
}

.section-3 h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.11111;
}

.team h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.11111;
}

h3 {
    font-size: 20px;
    color: var(--NAVY-BLUE);
    line-height: 1.2;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: var(--NAVY-BLUE);
    color: var(--CLOUD)
    font-size: 16px;
    line-height: 1.5;
}
footer .logo {
    color: var(--CLOUD);
    font-family: Raleway;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.16667;
   
}